</main>
<footer class="container-fluid footer fixed-bottom py-1 w-100">
    <div>
        <p class="text-white text-center py-1">Made with ❤ by @pramodnair90</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/index.js"></script>
</body>
</html>