<%- include("partials/header") %>
    <div class="card w-50 bg-light">
        <div class="card-body">

            <p class="card-text">
            <h4 class="text-danger">Post not found with title <%= title %>
            </h4><a class="btn btn-outline-dark m-3" href="/compose" role="button">Create New</a></p>
        </div>
    </div>
    <%- include("partials/footer") %>